.about {
  font-family: "roboto", sans-serif;
  display: flex;
  /* padding: 80px 0 80px 104px; */
  padding-left: 104px;
  padding-top: 80px;
  padding-bottom: 80px;
  column-gap: 56px;
  color: #1a1b22;
}

.portrait {
  width: 464px;
  height: 464px;
  border-radius: 100%;
}

.about__title {
  font-family: "roboto slab", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 51px;
  margin-bottom: 24px;
}

.biography {
  margin-top: 0;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 600px;
  text-wrap: wrap;
}

@media (min-width: 501px) and (max-width: 768px) {
  .about {
    padding: 40px 40px 61px 40px;
    column-gap: 32px;
  }

  .biography {
    max-width: 424px;
  }
  .about__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0;
  }
  .portrait {
    width: 232px;
    height: 232px;
    margin-top: 21px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .about {
    padding: 40px 40px 61px 40px;
    column-gap: 32px;
  }

  .about__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0;
  }
  .portrait {
    width: 232px;
    height: 232px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .about {
    padding: 32px 24px 40px;
    flex-direction: column;
  }

  .about__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0;
  }
  .portrait {
    width: 272px;
    height: 272px;
  }
  .portrait-wrapper {
    align-self: center;
  }
  .bio-wrapper {
    margin-top: 24px;
    padding-bottom: 128px;
  }
}
